body, html
    line-height 1
    font-weight 200
    font-family 'PingFang SC','Helvetica Neue',Arial,sans-serif
.clearfix
    display inline-block
    &:after
        display block
        content '.'
        line-height 0
        clear: both
        visibility hidden
